* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial;
  text-align: center;
}

p {
  margin: 0 auto;
  max-width: 50%;
  padding: 20px
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.light-mode {
  background-color: #f882e8;
  color: #810257
}

.dark-mode {
  background-color: #810257;
  color: #f882e8
}

.toggle-btn {
  border: 1px solid #420234;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 10px 10px 0 auto;
  cursor: pointer;
}

.fact-btn {
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}
